[submodule "self-profiler"]
	path = self-profiler
	url = https://github.com/comeillfoo/self-profiler
[submodule "log-plotter"]
	path = log-plotter
	url = https://github.com/comeillfoo/log-plotter.git
[submodule "ManagedDotnetProfiler"]
	path = ManagedDotnetProfiler
	url = https://github.com/comeillfoo/ManagedDotnetProfiler.git
[submodule "visual-clr"]
	path = visual-clr
	url = https://github.com/comeillfoo/visual-clr.git
