[submodule "libprofiler"]
	path = libprofiler
	url = https://github.com/comeillfoo/libprofiler
[submodule "self-profiler"]
	path = self-profiler
	url = https://github.com/comeillfoo/self-profiler
[submodule "log-plotter"]
	path = log-plotter
	url = https://github.com/comeillfoo/log-plotter.git
